$font-family-settings: "Segoe UI Light", sans-serif;
$font-size-settings: 1.3em;
$font-size-settings-small: 0.75em;
$font-size-settings-huge: 7em;
$color-settings-selected: #a500bd;
$color-settings-invalid: #ff3300;
$color-settings-border: rgb(245, 245, 245);
$color-settings-background: rgba(255, 255, 255, .9);
$color-settings-input-background: rgba(255, 255, 255, .85);
$border-radius-settings: 4px;

$color-file-selected: #9acd32;
$color-file-folder: #00bfff;
$color-file-home: #ff4500;
$color-alert: #ff0000;
$border-size-file: 0.1em;

